# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29taWMtZ29yaWxsYS03MS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_noxsXf668dw8psolXttciOz04rAzcRWvGHqAR2j8AU
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# App
NEXT_PUBLIC_APP_URL=https://integrateapi.io

# Stripe Payments
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51SVVVLPdD9uuGx4XIjRbtrNJhcoOsaMV5EB9gjRVJwA5fIpXZ6rkCshrGkcBdeEPJcD9fxh2QpjASkE7e9dBEftI00HtX2eR35
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_KYkZOzQjEaa0q2GcAa9643qu5dDwoqmB
STRIPE_LIFETIME_PRICE_ID=price_1TAbUpPdD9uuGx4X9CFxHNkE
STRIPE_SUBSCRIPTION_PRICE_ID=price_1TAbUpPdD9uuGx4X9CFxHNkE
